.about {
  min-height: 100vh;
  background-color: var(--dark-2);
  padding: 2rem;
}

.about-header {
  margin-bottom: 8rem;
}
.about-title {
  color: var(--white-100);
  font-weight: 500;
  margin-bottom: 1rem;
}
.about-grid-1 {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 1rem;
  margin-bottom: 10rem;
}
.about-text {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}
.about-list li {
  color: var(--white-100);
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.about-list li:last-child {
  border-bottom: 1px solid transparent;
}

.btn-about-download {
  background-color: var(--green);
  color: var(--white-100);
  border: none;
  padding: 17px 48px;
  border-radius: 4rem;
  cursor: pointer;
  font-weight: 500;
  margin-top: 1rem;
}
.btn-about-download:hover {
  background-color: var(--green-hover);
}

.about-grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.about-grid-2-item {
  text-align: center;
  border-right: 1px dotted rgba(255, 255, 255, 0.2);
}
.about-grid-2-item:last-child {
  text-align: center;
  border-right: none;
}
.about-grid-2-item p:first-child {
  font-size: 3rem;
  font-weight: 500;
  color: var(--white-50);
}

.about-grid-2-item p:last-child {
  color: var(--white-100);
}
