.header {
  position: fixed;
  z-index: 9999;
  background-color: var(--dark-1);
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar-mobile-name a {
  color: var(--white-100);
  font-weight: 500;
  font-size: 1.5rem;
}

.header-icons {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}
.header-icons a i {
  color: #aab1b8;
}
