.nav-sidebar {
  width: 260px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar-box-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 0.4rem solid var(--dark-3);
  margin: 76px auto 1rem auto;
}

.avatar-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-name {
  text-align: center;
  color: var(--white-100);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.navigation {
  color: var(--white-100);
}
.navigation li a {
  color: var(--white-100);
  padding: 0.5rem;
  display: block;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.navigation li a:hover {
  color: var(--green);
}
.nav-sidebar-icons {
  display: flex;
  justify-content: space-around;
}
.nav-sidebar-icons a {
  color: #aab1b8;
}
