.portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark-3);
  padding: 0 2rem 4rem 2rem;
}
.portfolio-menu {
  margin: 8rem 0 2rem 0;
}

.portfolio-menu nav ul {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.portfolio-menu nav ul li {
  color: var(--white-100);
  border: 1px solid transparent;
  cursor: pointer;
  padding: 1rem;
}
.portfolio-menu nav ul li:hover {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.port-grid-item img {
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
