.summary {
  min-height: 100vh;
  background-color: var(--dark-3);
  padding: 2rem 0;
}
.summary-grid {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8rem;
  margin-bottom: 2rem;
}

.summary-sub-title {
  color: var(--white-100);
  font-weight: 500;
  margin-bottom: 1rem;
}

.summary-card {
  background-color: var(--dark-1);
  padding: 1.5rem;
  position: relative;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.summary-card p {
  margin-bottom: 1.5rem;
}
.summary-text-title {
  color: var(--white-100);
  margin-bottom: 1rem;
}

.summary-text-content {
  color: var(--white-50);
}

.summary-tag {
  background-color: var(--green);
  padding: 3px 10px;
  margin-bottom: 0.7rem;
  display: inline-block;
  color: #fff;
  border-radius: 7px;
  font-size: 14px;
}

.skills-title {
  color: var(--white-100);
  font-weight: 500;
  margin-bottom: 2rem;
}
.grid-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.8rem;
  row-gap: 1rem;
}
.skills-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-100);
  margin-bottom: 1rem;
}

.skills-graph {
  width: 100%;
  height: 8px;
  background-color: var(--dark-1);
  display: block;
  border-radius: 4px;
  font-weight: 500s;
}

.skills-graph::before {
  content: "";
  height: 8px;
  background-color: var(--green);
  display: block;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.web-design::before {
  width: 68%;
}
.html-css::before {
  width: 95%;
}
.javascript:before {
  width: 80%;
}
.react:before {
  width: 70%;
}
.angular:before {
  width: 60%;
}
.boptstrap:before {
  width: 99%;
}
