.summary {
  min-height: 100vh;
  background-color: var(--dark-3);
  padding: 2rem 0;
}
.summary-grid {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8rem;
  margin-bottom: 2rem;
}

.summary-sub-title {
  color: var(--white-100);
  font-weight: 500;
  margin-bottom: 1rem;
}

.summary-card {
  background-color: var(--dark-1);
  padding: 1.5rem;
  position: relative;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.summary-card p {
  margin-bottom: 1.5rem;
}
.summary-text-title {
  color: var(--white-100);
  margin-bottom: 1rem;
}

.summary-text-content {
  color: var(--white-50);
}

.summary-tag {
  background-color: var(--green);
  padding: 3px 10px;
  margin-bottom: 0.7rem;
  display: inline-block;
  color: #fff;
  border-radius: 7px;
  font-size: 14px;
}

.skills-title {
  color: var(--white-100);
  font-weight: 500;
  margin-bottom: 2rem;
}
.grid-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
